html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
}

#startup {
    position: relative;
    width: 765px;
    height: 503px;
    overflow: hidden;
}

#title-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#title-background-left, #title-background-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 383px;
}

#title-background-left {
    left: 0;
}

#title-background-right {
    right: 0;
    transform: rotateY(180deg);
}

#runes-left, #runes-right {
    position: absolute;
    top: 0;
    width: 128px;
    height: 265px;
}

#runes-left {
    left: 0;
}

#runes-right {
    right: 0;
    transform: rotateY(180deg);
}

#logo {
    position: relative;
    z-index: 2;
    padding-top: 18px;
}
#logo img {
    display: block;
    margin: 16px auto 32px;
    max-width: 220px;
    filter: drop-shadow(0 0 26px #fff);
}

#title-box {
    position: relative;
    z-index: 2;
    margin: 11px auto 0;
    width: 360px;
    height: 200px;
    font-family: 'RS Bold', sans-serif;
    font-size: 16px;
    text-shadow: 1px 1px #000;
}

#title-button-container {
    position: relative;
    margin: 16px 28px 0;
    height: 41px;
}

.title-button {
    width: 147px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.title-button ~ .title-button {
    left: initial;
    right: 0;
}
.title-button.single {
    position: relative;
    margin: 32px auto 0;
}

#welcome, #existing-user, #new-user {
    color: #ffff00;
    text-align: center;
}
#welcome {
    padding-top: 69px;
}
#existing-user {
    padding-top: 46px;
}
#new-user {
    padding-top: 46px;
}

form#credentials {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}
form#credentials label {
    display: block;
    width: 45%;
    cursor: pointer;
    text-align: right;
    color: white;
}
form#credentials input {
    background: transparent;
    border-width: 0;
    outline-width: 0;
    cursor: text;
    display: block;
    width: 55%;
    color: white;
    font-family: 'RS Bold', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    text-shadow: 1px 1px #000;
    padding: 0 6px;
    line-height: 16px;
}
form#credentials input[type='password'] {
    height: 16px;
    font-size: 24px;
}
