html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

#startup, #title-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#title-background-left, #title-background-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 383px;
}

#title-background-left {
    left: 0;
}

#title-background-right {
    right: 0;
    transform: rotateY(180deg);
}

#runes-left, #runes-right {
    position: absolute;
    top: 0;
    width: 128px;
    height: 265px;
}

#runes-left {
    left: 0;
}

#runes-right {
    right: 0;
    transform: rotateY(180deg);
}
