html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
}

#startup {
    position: relative;
    width: 765px;
    height: 503px;
    overflow: hidden;
}

#title-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#title-background-left, #title-background-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 383px;
}

#title-background-left {
    left: 0;
}

#title-background-right {
    right: 0;
    transform: rotateY(180deg);
}

#runes-left, #runes-right {
    position: absolute;
    top: 0;
    width: 128px;
    height: 265px;
}

#runes-left {
    left: 0;
}

#runes-right {
    right: 0;
    transform: rotateY(180deg);
}

#logo {
    position: relative;
    z-index: 2;
    padding-top: 18px;
}
#logo img {
    display: block;
    margin: 0 auto;
}

#title-box {
    position: relative;
    z-index: 2;
    margin: 11px auto 0;
    width: 360px;
    height: 200px;
}

#landing {
    padding-top: 65px;
}
#welcome {
    color: #ffff00;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.title-button {
    margin-left: 27px;
    width: 147px;
    height: 41px;
    line-height: 41px;
    /*margin-top: 65px;*/
    margin-top: 35px;
}
